
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>P</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>
  <body>
    <nav class="navbar is-dark">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/about" style="font-weight:bold;">
            About me.
          </a>
          <span class="navbar-burger burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navMenu" class="navbar-menu">
          <div class="navbar-end">
            <a href="Home" class="navbar-item is-active">Home</a>
            <a href="/posts/1" class="navbar-item">Post</a>
            <!-- <a href="#" class="navbar-item">Forum</a> -->
          </div>
        </div>
      </div>
    </nav>

    <div class="container" align="center">
        <h1 class="title">
            Bienvenido al Personal Blog de Jose Manuel Martinez Sanchez !
        </h1>
        <p class="subtitle">
            <strong>2019.</strong>
        </p>
    </div>


    {%if all_Post%}
        {% for post in all_Post %}
        <!-- <a href="{% url 'onePost' post.id %}"> -->
            <div class="post">
                <div class="post_title">
                    <b>{{ post.title }}</b>
                </div>
                <div class="post_date">
                    {{ post.date }}
                </div>
                <div class="post_paragraph">
                    {{ post.paragraph }}
                </div>
            </div>

        {% endfor %}
            {%else%}
            <h1>No hay Post!</h1>
    {% endif %}


   <footer class="footer">
        <div class="content has-text-centered">
            <p>
                Made with <strong>❤</strong> by <a href="https://github.com/J0MS"> @JOMS </a>.
            </p>
        </div>
    </footer>

    <script type="text/javascript">
      (function() {
        var burger = document.querySelector('.burger');
        var nav = document.querySelector('#'+burger.dataset.target);
        burger.addEventListener('click', function(){
          burger.classList.toggle('is-active');
          nav.classList.toggle('is-active');
        });
      })();
    </script>


  </body>
</html>
